img{
    width: 100%;
    height: auto;
   object-fit: contain;
}

.property{
    background-color: beige;
    padding: 2rem;
    
}

.deleteBtn{
    margin-left: 10%;
}

@media screen and (max-width: 760px) {
    .properties{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .properties{
        grid-template-columns: repeat(1, 1fr);
    }
}